# **Dictionary**

- dictionary is an collection of items with NO order
- dictionary has key-value pair for each item

In [117]:
this = {'this':1,'is':2,'third':3, 'word':4,'in':5,'dictionary':6}
#dictionary has key-value pair

In [118]:
print(this)

{'this': 1, 'is': 2, 'third': 3, 'word': 4, 'in': 5, 'dictionary': 6}

In [119]:
type(this)

dict

# properties of Dictionary
- mutable, elements can be easily added or removed
- no order
- has no relation with index position and thats why it cannot be sliced
- no dulplicate keys are allowed
- keys must be immutable
- values can be anything:
  strings, numbers,lists, set, dictionary

- **create dictinary using dict() function**

In [120]:
d = dict([('one',1),('two',2),('three',3),('four',4)])

In [121]:
d

{'one': 1, 'two': 2, 'three': 3, 'four': 4}

In [122]:
# access values from dictionary
this

{'this': 1, 'is': 2, 'third': 3, 'word': 4, 'in': 5, 'dictionary': 6}

In [123]:
3 #keyerror will be raised if no key found in the dictionary
city = {'kolhapur':1,'sangli':2,'satara':3,'pune':4}

In [124]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4}

In [125]:
city['sangli']
#displays the value for given key

2

In [126]:
city['pune']

4

In [127]:
city['z']
# both value and key not available for given key

KeyError: 'z'

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4}

In [ ]:
city['nyc'] = 5

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4, 'nyc': 5}

In [ ]:
city['la'] = 6

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4, 'nyc': 5, 'la': 6}

- deleting existing key-value pairs

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4}

In [ ]:
city['new'] = 368 #repeatedly runnig this will not create duplicates of the new element

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4, 'new': 368}

In [ ]:
del city['new'] #deleted particular key, value automatically gets deleted

KeyError: 'new'

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4}

In [ ]:
del city

NameError: name 'city' is not defined

In [ ]:
city.keys() #keys() function returns all the keys from thre dictionary

dict_keys(['kolhapur', 'sangli', 'satara', 'pune'])

In [ ]:
city.values() #this returns all the values from the dictionary

dict_values([1, 2, 3, 4])

In [ ]:
city.items()

dict_items([('kolhapur', 1), ('sangli', 2), ('satara', 3), ('pune', 4)])

In [ ]:
city.get('pune') # displays value for the given key

4

In [ ]:
type(city.get('')) # type of get retun is integer, if element is not present then type is None

NoneType

In [ ]:
city.get('pune',5)

4

In [ ]:
str(city)

"{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4}"

- pop()

In [ ]:
city.pop('pune') # value and key both gets deleted from the dictionary

KeyError: 'pune'

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3}

- popitem()

In [ ]:
city.popitem() #last key-value pair gets popped out and displayed

('kolhapur', 1)

In [ ]:
city

{}

In [ ]:
city = {'kolhapur':1,'sangli':2,'satara':3,'pune':4}

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4}

In [ ]:
update = {'blr':20,'delhi':40}

In [ ]:
city.update(update)

In [ ]:
city

{'kolhapur': 1, 'sangli': 2, 'satara': 3, 'pune': 4, 'blr': 20, 'delhi': 40}

In [ ]:
city.clear() #clears all the key-value pairs from city dictionary

In [ ]:
city

{}

In [132]:
info = {'username':'nainesh1107','email':'nainesh@gmail.com','location':'Bengaluru,India',
        'fname':'Nainesh','lname':'Khanjire'}

In [133]:
for i in info:
    print(i,':',info[i])
    print('-'*80)

username : nainesh1107
--------------------------------------------------------------------------------
email : nainesh@gmail.com
--------------------------------------------------------------------------------
location : Bengaluru,India
--------------------------------------------------------------------------------
fname : Nainesh
--------------------------------------------------------------------------------
lname : Khanjire
--------------------------------------------------------------------------------

In [141]:
for i in info.keys():
    print(i)

username
email
location
fname
lname