- block of code that runs only when called which carried out some specific well-defined task

In [2]:
def hello():
    print("Hello World")

In [3]:
hello()

Hello World

In [4]:
def armstrong_number():
    n = int(input("Enter a number to check if its armstrong: "))
    value = 0

    # find cube of each digit of the number
    temp = n
    while temp>0:
        digit = temp%10
        value = value + digit**3
        temp = temp//10
        
    #display the result
    if n==value:
        print(n,"is an armstrong number")
    else:
        print(n,"is not an armstrong number")

In [5]:
armstrong_number()

Enter a number to check if its armstrong:  370

370 is an armstrong number

In [13]:
#function to  print first and last name together
def name(fname, lname):
    print(fname+" "+lname)

In [14]:
name('nainesh', 'khanjire')

nainesh khanjire

In [15]:
#name('n')
#passing less arguments than required

- **Arbitrary Argument**

In [34]:
def books(*books):
    print('I have {0} books,'.format(len(books))) # {0} counts the number of arguments and * in the fn takes n number of arguments
    print('these are the names: ')
    for i in books:
        print('\t',i)

In [35]:
books('franz kafka','politics',1234)

I have 3 books,
these are the names:
	 franz kafka
	 politics
	 1234

In [36]:
books('meditations', 'politics','12',234)

I have 4 books,
these are the names:
	 meditations
	 politics
	 12
	 234

In [47]:
def employees(name, age, gender):
    print("Name of the employee is: "+ name)
    print("Age of the employee is : "+ age)
    print("Gender of the employee is: "+gender)

In [48]:
employees('nainesh', '24', 'M') # pass the parameters

Name of the employee is: nainesh
Age of the employee is : 24
Gender of the employee is: M

In [51]:
employees(name = "nainesh", age = "24", gender = "M")

Name of the employee is: nainesh
Age of the employee is : 24
Gender of the employee is: M

In [54]:
def city(city = "Bengaluru"):
    print("I am from "+city)

In [58]:
city('mumbai') # this overrides the original argument

I am from mumbai

In [67]:
def cube(n):
    cube = n**3
    print(cube)

In [68]:
cube(3)

27

In [71]:
ix = cube(9)

729

In [7]:
def armstrong(n):
    value = 0
    # find sum of cube of each digit in given number
    temp = n
    while temp >0:
        digit = temp%10
        value = value +digit**3
        temp = temp//10
        
    if n == value:
        return True
    else:
        return False

In [3]:
armstrong(370)

NameError: name 'armstrong' is not defined

In [17]:
def factorial(x):
    if x==1:
        return 1
    else:
        return (x*factorial(x-1)) # function calling itself here to multiply to the number less than itself

In [18]:
factorial(3)

6

In [19]:
factorial(9)

362880

In [20]:
def recursor():
    recursor()

**advantages of recursion**
- makes code look cleaner
- complex task can be broken down onto simpler problems
- sequence generation is easier

In [1]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

In [2]:
# this is docstring

In [31]:
def armstrong(n):
    '''this is a docstring'''
    value = 0
    # find sum of cube of each digit in given number
    temp = n
    while temp >0:
        digit = temp%10
        value = value +digit**3
        temp = temp//10
        
    if n == value:
        return True
    else:
        return False

In [32]:
help(armstrong)

Help on function armstrong in module __main__:

armstrong(n)
    this is a docstring

- anonymous function

In [35]:
square = lambda x: x**2

In [37]:
square(69)

4761

In [47]:
def fun():
    pass
def fun1():
    pass
def fun2():
    pass

In [49]:
fun()

In [51]:
a =9
if a <10:
    print(a)
else:
    pass

9