In [113]:
city = ["kolhapur", "sangli", "satara"] #lists are written like this

In [114]:
print(city)

['kolhapur', 'sangli', 'satara']

In [115]:
list

list

In [116]:
multilist = ["hello", 123, "this is non sense", 420.69, "whats 188"]
type(multilist)
# list ccan contain different elements with diff data types

list

In [117]:
len(multilist) # counts the number of elements present in the listregardless of the data type

5

In [118]:
city[0]

'kolhapur'

In [119]:
print(city[0], "is the best city") # combines the index element with the print statement

kolhapur is the best city

In [120]:
print(city[-3])

kolhapur

- List slicing

In [121]:
city

['kolhapur', 'sangli', 'satara']

In [122]:
len(city)

3

In [123]:
cities = city[1:2]
cities #created new list by slicing the elements from given range

['sangli']

In [124]:
city

['kolhapur', 'sangli', 'satara']

In [125]:
city[:2]  #prints elements upto :n-1 th index

['kolhapur', 'sangli']

In [126]:
city

['kolhapur', 'sangli', 'satara']

In [127]:
city[1] = 'pune' # modifying the list

In [128]:
city

['kolhapur', 'pune', 'satara']

*methods of list >*
- append()
- extend()
- insert()
- remove()
- clear()
- index()
- count()
- sort()
- reverse()

In [129]:
city

['kolhapur', 'pune', 'satara']

In [130]:
city.append('nyc')

In [131]:
city

['kolhapur', 'pune', 'satara', 'nyc']

In [132]:
city

['kolhapur', 'pune', 'satara', 'nyc']

In [133]:
city.remove('nyc')

In [134]:
city

['kolhapur', 'pune', 'satara']

In [135]:
city.pop()

'satara'

In [136]:
city

['kolhapur', 'pune']

In [137]:
city.append('satara')

In [138]:
city.append('pune')

In [139]:
city

['kolhapur', 'pune', 'satara', 'pune']

In [140]:
city.pop() #deletes last element from the list and displays it

'pune'

In [141]:
city

['kolhapur', 'pune', 'satara']

In [142]:
city.pop(0)

'kolhapur'

In [143]:
city

['pune', 'satara']

In [144]:
city = ["kolhapur", "Sangli", "satara", "Pune", "nyc", "kolhapur"]

In [145]:
print(city)

['kolhapur', 'Sangli', 'satara', 'Pune', 'nyc', 'kolhapur']

In [146]:
city.index('kolhapur')

0

In [147]:
city.count('kolhapur') # counts the occurances of the element entered

2

In [148]:
city

['kolhapur', 'Sangli', 'satara', 'Pune', 'nyc', 'kolhapur']

In [149]:
city.sort() #this sorts city list by alphabetical order

In [150]:
city

['Pune', 'Sangli', 'kolhapur', 'kolhapur', 'nyc', 'satara']

In [151]:
city.sort(reverse=True)

In [152]:
city

['satara', 'nyc', 'kolhapur', 'kolhapur', 'Sangli', 'Pune']

In [153]:
city.clear() # clears all the elements from the list

In [154]:
city

[]

In [155]:
city = ["kolhapur", "sangli", "satara",'pune','nyc']

In [156]:
city

['kolhapur', 'sangli', 'satara', 'pune', 'nyc']

In [157]:
city1 = ["kolhapur1", "sangli1", "satara1",'pune1','nyc1']

- deleting a list

In [158]:
del city1 #city list gets deleted from the memory

In [159]:
city1

NameError: name 'city1' is not defined

*operators on the list*
- Membership
- Arithmetic

In [ ]:
multi = ['this',123, 'includes',3.142,'True']
#this is a list containing elements of multiple data types

In [ ]:
'includes' in multi # returns True if the element is present

True

In [ ]:
p = [1,2,3]
q = [4,5,6,3,4,5,'h',6,7,7]

In [ ]:
r = p+q # appends both the lists into new one assigned

In [ ]:
r # multi and single lists can be added

[1, 2, 3, 4, 5, 6, 3, 4, 5, 'h', 6, 7, 7]

In [ ]:
nest = ['hello', 123, 'nested',['list',456]]

In [ ]:
type(nest)

list

In [ ]:
nest[3][1] # 3rd list is the nested list , index number works same as to nested lists as to elements

456

In [ ]:
nest[3][0]

'list'

lists are mutable

In [ ]:
city

['kolhapur', 'sangli', 'satara', 'pune', 'nyc']

In [ ]:
city[3:] = ['none','new']

In [ ]:
city

['kolhapur', 'sangli', 'satara', 'none', 'new']

In [ ]:
z = "this is is sentence"

In [ ]:
spl = z.split() # split fn splits the sentence into separate string elements
spl# and create a list by assigning it to a varible

['this', 'is', 'is', 'sentence']

In [ ]:
z #value of the original sentence variable remains same

'this is is sentence'

In [ ]:
z1 = 'this sentence will be, splitted at comma !'

In [ ]:
com = z1.split(',') 
# by adding comma or any existing punctuation in the split fn, the sentence splits at the comma and hence creates \
    #comma separated list elements
     
com

['this sentence will be', ' splitted at comma !']

In [ ]:
len(com) # com has only 2 elements

2

In [ ]:
z1.split(maxsplit=3) # only creates 3 splits regardless of the comma or anything atall

['this', 'sentence', 'will', 'be, splitted at comma !']

In [ ]:
z1.split(maxsplit=5)

['this', 'sentence', 'will', 'be,', 'splitted', 'at comma !']

In [ ]:
z1.split(maxsplit=7)

['this', 'sentence', 'will', 'be,', 'splitted', 'at', 'comma', '!']

In [ ]:
z1.split(maxsplit=8) # splits sentence into given limit

['this', 'sentence', 'will', 'be,', 'splitted', 'at', 'comma', '!']

In [ ]:
j = ['this','is','a','string','joined','together','by','join','function']

In [ ]:
separator  = " " #separator adds space by assigning' ' or " " 
#each element gets separated by a space or specified separator variable
separator.join(j)

'this is a string joined together by join function'

In [ ]:
for i in j:
    print(i)
    print("-"*85)

this
-------------------------------------------------------------------------------------
is
-------------------------------------------------------------------------------------
a
-------------------------------------------------------------------------------------
string
-------------------------------------------------------------------------------------
joined
-------------------------------------------------------------------------------------
together
-------------------------------------------------------------------------------------
by
-------------------------------------------------------------------------------------
join
-------------------------------------------------------------------------------------
function
-------------------------------------------------------------------------------------

In [ ]:
matrix = [[1,2,3],[4,5,6],[7,8,9]]

In [ ]:
for i in matrix:
    print(i)
    print('<>'*2)

[1, 2, 3]
<><>
[4, 5, 6]
<><>
[7, 8, 9]
<><>