# **python sets**
- collection of unordered items
- every element is unique, no duplicates
- sets are immutable, individual elements cannot be changed
- set itself is mutable, adding and removing elements is allowed

In [6]:
myset = set([1,2,3,4,5,6])

In [7]:
# set cannot have mutable elements
#set cannot have nested list as elements
#here ['hello',4,5] will give an error 
set1 = {1,2,3,['hello',4,5]}

TypeError: unhashable type: 'list'

In [8]:
a = {} # initialize 'a' with {} 

#this will make an empty dictionary

In [9]:
type(a)

dict

In [11]:
# initialize a with set
a = set()

In [12]:
type(a)

set

- **modify sets in python**

In [13]:
my_set = {1,2,3,4}
print(my_set)

{1, 2, 3, 4}

In [14]:
my_set[0]

TypeError: 'set' object is not subscriptable

In [16]:
my_set.add(2)

In [17]:
my_set

{1, 2, 3, 4}

In [18]:
my_set.update([5,6,7]) # appends elements to the existing set

In [19]:
my_set #updated set

{1, 2, 3, 4, 5, 6, 7}

In [20]:
my_set.update([6,7,8,9,10],{46,8})

In [21]:
my_set #while updating the set with new values, only unique values get appended to the existing set

{1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 46}

In [22]:
my_set.add('hi') #this gets added to the end of the set

In [24]:
my_set

{1, 10, 2, 3, 4, 46, 5, 6, 7, 8, 9, 'hi'}

In [42]:
newset = set("jkl")

In [43]:
newset.pop() # arbitrary element will be popped
# random element

'k'

In [44]:
newset.clear()

In [45]:
del newset # delete the existing set

- **Set Operations**

In [29]:
A = {1,2,3,4}
B = {4,5,6,7,8}

In [30]:
print(A|B)
# A union B this is created using | operator, union() can be also used

{1, 2, 3, 4, 5, 6, 7, 8}

In [31]:
#set intersection

In [32]:
#intersection of A and B isa set of elements that are common in both sets
# intersection is performed using  & operator, same can be performed using intersection() method

In [33]:
print(A&B)
# prints the common element within two sets

{4}

In [34]:
A.intersection(B)

{4}

In [35]:
B.intersection(A)

{4}

- **Set Difference**

- difference is performed using - operator
- use difference() method
- it is a set of elements that are in A but not in B
- similarly B-A is a set of elements in B but not in A

In [36]:
print(A-B)
# only element 4 is present in  both the sets A and B

{1, 2, 3}

In [37]:
B-A

{5, 6, 7, 8}

In [38]:
A.difference(B) #present in A but not in B

{1, 2, 3}

In [39]:
B.difference(A) # present in B but not in A

{5, 6, 7, 8}

In [46]:
# for loop on set

In [49]:
for i in A:
    print(i**2)
    print('-'*40)

1
----------------------------------------
4
----------------------------------------
9
----------------------------------------
16
----------------------------------------

# **Frozenset**

- this has characterstics of a set but, its elements cannot be changed once assigned
- while tuples are immutable lists, frozensets are immutable sets
- can be created using  frozenset() function
- immutable, cannot remove or add elements

In [57]:
x = frozenset([1,2,3,4,5,6])
# frozenset can written like this
y = frozenset([6,7,8,9,10])

In [58]:
x

frozenset({1, 2, 3, 4, 5, 6})

In [59]:
type(x)

frozenset

In [61]:
x.difference(y)

frozenset({1, 2, 3, 4, 5})

In [8]:
number = int(input("Enter a number: "))
if number > 0:
    if number%2==0:
        print(number,"is even number")
        print("square of ",number,"is",number**2)
    else:
        print(number,"is odd number")
        print("cube of ",number,"is ",number**3)
              
else:
   print("Enter valid number")

3 is odd number
cube of  3 is  27