**String**
- string is a sequence of characters
- computers deal with binary numbers

In [10]:
str1 = 'hello'
str2 = "Hello"

In [11]:
print(str1)
print(str2)

hello
Hello

In [12]:
type(str1)

str

In [15]:
str3 = '123'
print(str3)
type(str3)

123

str

In [35]:
a = str(str1)
type(str3)
print(str3)

123

**multiline strings**

- this can be initialized by using '''str'''

In [39]:
str4 = '''I am Nainesh Khanjire
and  I live in Bengaluru
'''
# fprmatting stays the same when you add tripple inverted commas

In [41]:
print(str4)

I am Nainesh Khanjire
and  I live in Bengaluru

In [ ]:
building_name = input("enter the name of your building: ")

In [47]:
type(building_name)

str

In [50]:
house_number = int(input("Entr the house number: "))

In [51]:
type(house_number)

int

In [1]:
print("Hello\nWorld") #\n prints new line

Hello
World

In [3]:
print("hello\tworld") #adds tab space

hello	world

In [9]:
str4 = "FRIENDS is cringe"

In [11]:
len(str4) # prints number of characters in the string variable

17

***Operations on Strings***

- *concatenation* 
- *Repetition*
- *Access char using index*
- *Slicing*
- *Membership*
- *Raw string*

In [21]:
#joining two or more strings using + operator
fname = "Nainesh"
lname = "Khanjire"
flname = fname + " "+lname # add a space between two strings
flname
print(flname)

Nainesh Khanjire

In [45]:
# repetition
a ="repeat " * 3 + "hello "*3
print(a)
print("="*80) # string can be repeated multiple times using * operator
print("\tGm")
print("="*80)

repeat repeat repeat hello hello hello
================================================================================
	Gm
================================================================================

In [29]:
# access char using index
n = "NAINESH"
n[1] # prints letter present on 1st index
n[4]
n[-2]

'S'

In [6]:
n[:4] # prints index elements from 0 to 3

'NAIN'

In [10]:
n[-4:-1] # this will print the elements from same index positions

'NES'

membership
- operators in, not in

In [12]:
n

'NAINESH'

In [16]:
't' in n # returns true or false

False

In [22]:
'NE' in n # found NE in the n string

True

In [25]:
n

'NAINESH'

In [27]:
n[1]

'A'

In [31]:
print(n)

NAINESH

In [63]:
n[1] = 'a' # strings are immutable

TypeError: 'str' object does not support item assignment

In [72]:
n = 'NAINESH'

In [73]:
del n # deletes the elements from string
# delete objects from kernel

In [74]:
n # nothing in string n

NameError: name 'n' is not defined

String Comparison

In [75]:
strc = 'NAINESH'

In [77]:
print(strc)

NAINESH

In [80]:
strc = 'NAINESH'

In [83]:
strc == 'NAINESh' # compares the string elements to the elements 
                    # written in comparison and returns true or false

False

In [86]:
strc != 'NAInESH' # this returns true because its not equal to the string that has been assigned

True

In [2]:
str1 = 'abc'

In [7]:
str1 < 'd'  # if new comrared string has eveb one letters grater in terms of alphabetical order then it will return true

True

In [1]:
k = "SALVATION"

In [14]:
k.find('N') # originally found elements will return its positive index
k.find('n') # same elements with changed case will return negative index

-1

In [41]:
s = "    this  is  a  new   string "

In [53]:
s.strip()

'this  is  a  new   string'

In [54]:
s

'    this  is  a  new   string '

In [55]:
s = " this is another line "

In [58]:
len(s)

22

In [62]:
name = "NAINESH"
age = 24
print(f"My name is {name}, and my age is {age}")

My name is NAINESH, and my age is 24

In [65]:
e= "dog"

In [67]:
e.upper() # converts all the letters of the string into uppercase

'DOG'

In [70]:
f = "CAT"

In [73]:
f.lower() # converts whole string into lowercase

'cat'

In [74]:
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.