- tuple holds many object in a single object
- tuples are immutable ('as',12,True) 
- lists are mutable [1,a,[2,4.5]]

In [6]:
films = ('platform','punisher','inception','apocalypto','batman','avengers')
# this is how a tuple is created

In [7]:
type(films) # type of the collection is tuple, same definition as list

tuple

In [8]:
len(films)

6

In [9]:
mix = ('this', 123,'HAS', True, 3.14, None)

In [10]:
type(mix) # type of multi tuple is same as nromal tuple

tuple

In [11]:
len(mix)

6

In [12]:
mix

('this', 123, 'HAS', True, 3.14, None)

In [13]:
films

('platform', 'punisher', 'inception', 'apocalypto', 'batman', 'avengers')

In [14]:
films[1]

'punisher'

In [15]:
films[8] # element at index 8 is out of range

IndexError: tuple index out of range

In [ ]:
films[4]

'batman'

In [ ]:
films[2:4]

('inception', 'apocalypto')

In [ ]:
films[:5]  # displays from 0th index to 4th index, last element is excluded

('platform', 'punisher', 'inception', 'apocalypto', 'batman')

In [ ]:
films

('platform', 'punisher', 'inception', 'apocalypto', 'batman', 'avengers')

In [ ]:
films[-3:] # -3 index is included because it is at first position

('apocalypto', 'batman', 'avengers')

Modifying a Tuple

In [ ]:
films[0] = 'new' # tuple is immutable
#this gives typeerror

TypeError: 'tuple' object does not support item assignment

METHODS OF TUPLE

In [17]:
a = (1,2,3,4,5,6,7,8,9)

In [ ]:
len(a)

9

In [ ]:
films

('platform', 'punisher', 'inception', 'apocalypto', 'batman', 'avengers')

In [ ]:
len(films)

6

In [ ]:
films.index("avengers") # by passing index(string/element) this gives index for that element

5

In [ ]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [ ]:
b = (1,2,3,4,1,2,3,5,1,2,3)

In [ ]:
b.index(1,5) # this shows index of 1 after element 5, because its repeated in the tuple

8

In [ ]:
b.index(1,4)  #displays occurance of element 1 after element 4

4

count(element)

In [ ]:
b.count(3) # counts number of times the element has occured

3

In [ ]:
del b

In [18]:
a

(1, 2, 3, 4, 5, 6, 7, 8, 9)

In [19]:
b = ('add','add2')

In [20]:
c = a+b

In [22]:
c #adds  a and b tuples into one another

(1, 2, 3, 4, 5, 6, 7, 8, 9, 'add', 'add2')

In [24]:
b*5

('add', 'add2', 'add', 'add2', 'add', 'add2', 'add', 'add2', 'add', 'add2')

In [32]:
c = (b*5) +a

Nested Tuples

In [44]:
nest = ('monday','tuesday',123,(4,5,6))

In [46]:
nest

('monday', 'tuesday', 123, (4, 5, 6))

In [47]:
nest[0]

'monday'

In [49]:
nest[3][0] # prints 1st element from nested tuple

4

In [51]:
films

('platform', 'punisher', 'inception', 'apocalypto', 'batman', 'avengers')

In [54]:
for i in films:
    print(i)
    print('-'*10)

platform
----------
punisher
----------
inception
----------
apocalypto
----------
batman
----------
avengers
----------